
.projetos {
    position: relative;
    display: flex;
    width: 80%;
    max-height: 20rem;
    margin: auto;
    top: 100vh;
    background-color: green;
}

.card {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 10rem;
    height: 15rem;
    margin: 2rem 2rem 2rem 2rem;
    background: rgb(94, 65, 65);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;

    color: white;    
    transition-property: width, height;
    transition-duration: 0.8s;
}

.card::after {
    content: "";
    position: absolute;
    display: flex;
    width: 10rem;
    height: 15rem;
    z-index: 100;

    transition-property: width, height, box-shadow;
    transition-duration: 0.8s;
}

.card:hover::after {
    box-shadow: 0 0 5rem 1.5rem inset #000000b7;
    width: 11rem;
    height: 17rem;
}

.card:hover {
    width: 11rem;
    height: 17rem;
}