
.projetos {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    height: max-content;
    margin: auto;
    background-color: green;
}

.projetos h2 {
    position: absolute;
    color: var(--cor-logo);
}

.card {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 12rem;
    height: 17rem;
    margin: 3rem 2rem 3rem 2rem;
    background: black;
    text-decoration: none;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;

    color: white;    
    transition-property: width, height;
    transition-duration: 0.8s;
}

.card::after {
    content: "";
    position: absolute;
    display: flex;
    width: 12rem;
    height: 17rem;
    z-index: 100;

    transition-property: width, height, box-shadow;
    transition-duration: 0.8s;
}

.card:hover::after {
    box-shadow: 0 0 5rem 1.5rem inset #000000b7;
    width: 14rem;
    height: 19rem;
}

.card:hover {
    width: 14rem;
    height: 19rem;
}

@media screen and (max-width: 670px) { 

    .card {
        width: 30vw;
        height: 37vw;
    }
    
    .card::after {
        width: 30vw;
        height: 37vw;
    }

    .card:hover {
        width: 32vw;
        height: 39vw;
    }

    .card:hover::after {
        width: 32vw;
        height: 39vw;
    }
}