
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Wotfard",Futura,-apple-system,sans-serif;
    font-weight: bold;
    z-index: 1;

}

:root {
    --cor-logo: #242424;
}

@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Qahiri&display=swap');

.fonts {
    font-family: 'Irish Grover', cursive;
    font-family: 'Qahiri', sans-serif;  
}

@font-face {
    font-family: Rhesmanisa Regular;
    src: url(Rhesmanisa.otf) format('opentype');
    
}

@font-face {
    font-family: Seconds;
    src: url(Seconds.otf) format('opentype');
}


body {
    position: relative;
    height: 100vh;
    width: 100%;
}

header {
    position: absolute;
    width: 100%;
    height: 3rem;
    z-index: 10;    
    /* background: #46b99d; */
    
}

.logo {
    display: flex;
    justify-content: center;
    width: 20%;
    color: var(--cor-logo);
    text-decoration: none;
    /* background: #0c1311; */

}

.logo h1 {
    font-size: 3vw;
    font-family: Seconds;  
}

nav {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content:space-between;
    align-items: center;
    /* background: chartreuse; */
}

nav ul {
    position: relative;
    display: flex;
    left: 10vw;
    width: 100%;
    list-style: none;
    justify-content:center;

}

nav ul li {
    display: flex;
}

nav ul li a {
    text-decoration: none;
    color: var(--cor-logo);
    font-size: 1.5vw;

    margin: 0 2vw 0 2vw;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    border-radius: 8px;

    transition-property: background-color, color;
    transition-duration: 0.5s;
}

nav ul li a:hover {
    background-color: white;
    color: #21323d;
}

.dia-noite {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 1vw;
    width: 4vw;
    height: 2.5vw;
    border-radius: 50vw;
    margin-right: 2vw;
    
}

.lingua {
    color: var(--cor-logo);
    font-size: 1.5vw;
    text-decoration: none;
    margin-right: 4vw;
}

@media screen and (max-width: 670px) {
    nav ul {
        display: none;
    }

    .dia-noite {
        left: 30vw;

    }
}