
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Wotfard",Futura,-apple-system,sans-serif;
    font-weight: bold;
    z-index: 1;
    text-decoration: none;
}

:root {
    --cor-logo: white;
    --cor-body: linear-gradient(to right, #252525 29%, transparent 29%), linear-gradient(to bottom, #111920, #323c46);
    --cor-main1: #774069;
}

@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Qahiri&display=swap');

.fonts {
    font-family: 'Irish Grover', cursive;
    font-family: 'Qahiri', sans-serif;  
}

@font-face {
    font-family: Rhesmanisa Regular;
    src: url(Rhesmanisa.otf) format('opentype');
    
}

@font-face {
    font-family: Seconds;
    src: url(Seconds.otf) format('opentype');
}


body {
    position: relative;
    height: 100vh;
    width: 100%;
    background: var(--cor-body);
}

header {
    position: absolute;
    width: 100%;
    height: 3rem;
    z-index: 10;    
    /* background: #46b99d; */
    
}

.logo {
    display: flex;
    justify-content: center;
    width: 20%;
    color: var(--cor-logo);
    /* background: #0c1311; */

}

.logo h1 {
    font-size: 3vw;
    font-family: Seconds;  
}

nav {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content:space-between;
    align-items: center;
    /* background: chartreuse; */
}

nav ul {
    position: relative;
    display: flex;
    left: 10vw;
    width: 100%;
    list-style: none;
    justify-content:center;

}

nav ul li {
    display: flex;
}

nav ul li a {
    color: var(--cor-logo);
    font-size: 1.5vw;
    font-family: 'Irish Grover', cursive;

    margin: 0 2vw 0 2vw;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    border-radius: 8px;

    transition-property: background-color, color;
    transition-duration: 0.5s;
}

nav ul li a:hover {
    background-color: white;
    color: #21323d;
}

.dia-noite {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 1vw;
    width: 4vw;
    height: 2.5vw;
    border-radius: 50vw;
    margin-right: 2vw;
    
}

.lingua {
    color: var(--cor-logo);
    font-family: 'Irish Grover', cursive;
    font-size: 1.5vw;
    margin-right: 4vw;
}

@media screen and (max-width: 670px) {
    nav ul, .dia-noite, .lingua {
        display: none;
    }

    .menu-mobile{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 90vw;
        width: 4.2vw;
        height: 2.5vw;
        background-color: green;
        cursor: pointer;
    }

    .menu-mobile div {
        position: relative;
        width: 4vw;
        height: 0.35vw;
        background-color: white;
        border-radius: 50vw;

        box-shadow: 0 1vw 0 0 white,
        0 -1vw 0 0 white;
    }
}