
.tela {
    position: relative;
    display: flex;
    margin: auto;
    top: 0vh;
    width: 40vw;
    height: 22vw;
    border-radius: 10px;
    box-shadow:
    -1vw 1vw 0.5vw 0 black,
    0 -0.1vw 0.5vw 0.2vw inset #1b1b1b, 
    0 0 0 1vw inset black,
    0 2vw 0vw 0vw inset #a5a2a2,
    0 -20vw 0vw 1vw inset #1b1b1b
    ;
}

.hora {
    position: relative;
    display: flex;
    top: 4.5%;
    left: 85%;
    font-size: 0.8vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.bateria {
    position: relative;
    display: flex;
    top: 5.5%;
    left: 88%;
    width: 1vw;
    height: 0.5vw;

    border-radius: 6px 10px 10px 6px;

    box-shadow: 0.25vw 0 0 -0.1vw white,
    0 0 0 0.1vw inset white,
    0.4vw 0 0 0 inset white;

}

.wallpaper {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 15vw;
    height: 15vw;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;

    box-shadow: 
    0 0 0 0.5vw inset #4f9cdb,
    0 0 0 1vw inset #1b1b1b,
    0 0 0 1.5vw inset #4f9cdb,
    0 0 0 2vw inset #1b1b1b,
    0 0 0 2.5vw inset #4f9cdb,
    0 0 0 3vw inset #1b1b1b,
    0 0 0 3.5vw inset #4f9cdb,
    0 0 0 4vw inset #1b1b1b,
    0 0 0 4.5vw inset #4f9cdb,
    0 0 0 5vw inset #1b1b1b,
    0 0 0 5.5vw inset #4f9cdb
    ;
    z-index: 0;
}

@keyframes circulo-1 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
        
    }
}

@keyframes circulo-2 {
    0% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(360deg);
        
    }
}